In [1]:
import numpy as np
import pandas as pd

In [2]:
# Níveis de Índice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [14]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'b'])

In [15]:
df

                     A         b
Grupo Numero
G1    1      -0.724407 -0.482360
      2      -0.023240 -0.048723
      3      -0.049205  0.101135
G2    1       0.965352 -1.068338
      2       2.091438 -1.186420
      3       0.686486 -0.817626

In [16]:
df.index.names = ['Grupo', 'Numero']

In [17]:
df

                     A         b
Grupo Numero
G1    1      -0.724407 -0.482360
      2      -0.023240 -0.048723
      3      -0.049205  0.101135
G2    1       0.965352 -1.068338
      2       2.091438 -1.186420
      3       0.686486 -0.817626

In [18]:
df.xs(1, level='Numero')

              A         b
Grupo
G1    -0.724407 -0.482360
G2     0.965352 -1.068338