In [2]:
# Import das bibliotecas
import numpy as np
import pandas as pd

In [14]:
# Criação do Dataframe por meio de um dicionario
d = {'A':[1, 2, np.nan], 'B':[5, np.nan, np.nan], 'C':[1, 2, 3]}

In [15]:
df = pd.DataFrame(d)

In [16]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [17]:
# Removendo valores nulos (o parametro thresh indica o maximo de NaN por linha tolerado)
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [18]:
# Metodo que comlpeta os NaN com um valor definido (string fill na, nesse cso)
df.fillna(value='fill na')

         A        B  C
0      1.0      5.0  1
1      2.0  fill na  2
2  fill na  fill na  3

In [19]:
# Removendo os NaN (Not a Number) apenas da coluna A, substituindu-os pela média da coluna
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [20]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [21]:
# Métodos buildados dentro da propria biblioteca podem ser utilizados (mesmo que essa forma vá cair no desuso)
df.fillna(method='ffill')

/tmp/ipykernel_85620/1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  3