In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

In [37]:
df = pd.DataFrame(randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [38]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [39]:
bol = df > 0

In [40]:
df[bol]

          W         X         Y         Z
A       NaN  0.196800       NaN  0.000366
B  1.025984       NaN       NaN  0.649826
C  2.154846       NaN       NaN       NaN
D  0.147027       NaN  0.558769  1.024810
E       NaN  1.862864       NaN  0.610478

In [41]:
df[df['W']>0]

          W         X         Y         Z
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [42]:
df[df['W']>0]['Y']

B   -0.031579
C   -0.755325
D    0.558769
Name: Y, dtype: float64

In [43]:
df[(df['W']>0) & (df['Y']>1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [44]:
df.reset_index()

  index         W         X         Y         Z
0     A -0.993263  0.196800 -1.136645  0.000366
1     B  1.025984 -0.156598 -0.031579  0.649826
2     C  2.154846 -0.610259 -0.755325 -0.346419
3     D  0.147027 -0.479448  0.558769  1.024810
4     E -0.925874  1.862864 -1.133817  0.610478

In [45]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [46]:
df.reset_index()

  index         W         X         Y         Z
0     A -0.993263  0.196800 -1.136645  0.000366
1     B  1.025984 -0.156598 -0.031579  0.649826
2     C  2.154846 -0.610259 -0.755325 -0.346419
3     D  0.147027 -0.479448  0.558769  1.024810
4     E -0.925874  1.862864 -1.133817  0.610478

In [47]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [48]:
col = 'RS RJ SP AM SC'.split()

In [49]:
col

['RS', 'RJ', 'SP', 'AM', 'SC']

In [50]:
df['Estado'] = col

In [51]:
df

          W         X         Y         Z Estado
A -0.993263  0.196800 -1.136645  0.000366     RS
B  1.025984 -0.156598 -0.031579  0.649826     RJ
C  2.154846 -0.610259 -0.755325 -0.346419     SP
D  0.147027 -0.479448  0.558769  1.024810     AM
E -0.925874  1.862864 -1.133817  0.610478     SC

In [52]:
df.set_index('Estado', inplace=True)

In [53]:
df

               W         X         Y         Z
Estado
RS     -0.993263  0.196800 -1.136645  0.000366
RJ      1.025984 -0.156598 -0.031579  0.649826
SP      2.154846 -0.610259 -0.755325 -0.346419
AM      0.147027 -0.479448  0.558769  1.024810
SC     -0.925874  1.862864 -1.133817  0.610478