In [2]:
# import das bibliotecas
import numpy as np
import pandas as pd

In [3]:
# alocar uma lista de indexação
labels = ['a', 'b', 'c']

In [7]:
# alocar respectivamente, uma lista e um array de conteudos e um dicionario com chaves e valores 
minha_lista = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a':10, 'b':20, 'c':30}

In [5]:
# criar uma series com base na lista de conteudo e indexação
pd.Series(data=minha_lista, index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
# aloca a series numa variavel
series =  pd.Series(data=minha_lista, index=labels)

In [10]:
# Exemplo de como acessar um elemento via chave
series['b']

np.int64(20)

In [11]:
# cria a series pelo np.array
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [12]:
# cria a series pelo dicionario
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [17]:
# Cria uma series com numeros como valores e nomes como chave
ser1 = pd.Series([1, 2, 3, 4], index=['EUA', 'Alemanha', 'URSS', 'Japão'])

In [18]:
ser1

EUA         1
Alemanha    2
URSS        3
Japão       4
dtype: int64

In [19]:
# Cria uma series com numeros como valores e nomes como chave
ser2 = pd.Series([1, 2, 3, 4], index=['EUA', 'Alemanha', 'Italia', 'Japão'])

In [20]:
ser2

EUA         1
Alemanha    2
Italia      3
Japão       4
dtype: int64

In [21]:
# Podemos subtrair series 
ser1 - ser2

Alemanha    0.0
EUA         0.0
Italia      NaN
Japão       0.0
URSS        NaN
dtype: float64